
.zform {

}



.ig5 {
    float: left;
    width: 50%;
}



.fieldset {
    border: 1px solid #DDD;
    padding: 0.5em 0;
}

.fieldset:after {
    clear:both;
    content:".";
    display:block;
    font-size:0;
    height:0;
    visibility:hidden;
}

.fieldset {display: inline-block;}

/*float clearing for IE6*/
* HTML .fieldset {
    height: 1%;
    overflow: visible;
}

/*float clearing for IE7*/
*+HTML .fieldset {
    min-height: 1%;
}

.fieldset { display:block; }



.zform .input input {
}

.zform .input textarea {
}

.zform .input select {
}

.zform .input input[readonly] {
    background-color: #EEEEEE;
}




.zform .input .iw.check input {
    margin-top: 4px;
    width: auto;
}
/*
.zform .input input:focus, .zform .input textarea:focus, .zform .input select:focus {
    border-color: #396A93;
    box-shadow: 0 0 3px rgba(128, 192, 255, 0.7);
}

.zform div.input label {
    text-align:right;
    vertical-align: top;
    color: #666;
	float: left;
	display: block;
	width: 150px;
}
.zform .input .iw {
	margin-left: 150px;
	padding-left: 10px;
	padding-right: 10px;
}



.zform .input {
    clear: left;
    padding: 2px 0;
    *padding: 0;
}


.zform .input input, .zform .input textarea, .zform .input select {
    border: 1px solid #CCC;
    line-height: 1em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    *width: 94%;
    margin: 0;

	display: block;

	padding-top: 2px;
	padding-bottom: 2px;
	/* fix for ie7 * /
	*padding-top: 1px;
	*padding-bottom: 1px;
	/* fix for ie6 * /
	_padding-top: 3px;
	_padding-bottom: 3px;
}


*/

.zform .input {
	padding-bottom: 8px;
	float: left;
	width: 100%;
}

.zform div.input label {
    vertical-align: top;
    color: #666;
	display: block;
	padding: 5px 12px 2px;

}

.zform .input .iw {
    border: 1px solid #BB9;
    clear: both;
    background-color: #F5F5F5;
    margin: 0 10px 0 10px;
    overflow: visible;
    padding: 0 8px 0 0 ;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}



.zform .input.error .iw {
    border: 1px solid #b63;
}

.zform .ig5 {
	margin-left: -1px;
	margin-right: -1px;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
}

.zform .ig5:first-child {
	border-left: 0 none;
	margin-right: 0;
}

.zform .ig5:last-child {
	border-right: 0 none;
	margin-right: 0;
}

.zform .input input, .zform .input textarea, .zform .input select {
	border: 0 none;
    margin: 0;
    padding: 3px 4px;
    width: 100%;

	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /*
    height: 22px;
    *height: 21px;
    _height: 22px;
    */
}

.zform .input .iw.select {
	padding-right: 0;
}
.zform .input select {
    padding: 2px 2px;
    *padding: 0;
}
.zform .input textarea {
	height: 80px;
}
.zform .input input:focus, .zform .input textarea:focus, .zform .input select:focus {
    background: white;
	box-shadow: 0 0 1px 1px #68C;
}


/*
div.input label {
	float: left;
	width: 150px;
}
*/
.zform div.required label {
    color: black;
}

.zform div.input label.error {
	clear: both;
    text-align: left;
    color: #CC0000;
    width: auto;
    display: block;
    padding: 0 0 0 12px;
	font-size: 13px;
}


textarea.h2 {
	height: 50px;
	*height: 42px;
}

textarea.h5 {
	height: 125px;
	*height: 42px;
}


.h10 textarea {
	height: 250px;
	*height: 210px;
}


.action a, .zform .action BUTTON, .action input.submit {
    border: 1px solid #999;
    padding: 2px 15px 3px;
    margin: 0;

    font-size: 1em;
    line-height: 1.3em;

    cursor: pointer;
	display: inline-block;

    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;

    color: #333;

    background-color: #F5F5F5;
    background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#DDDDDD));
    background: -moz-linear-gradient(top,  #F5F5F5,  #DDDDDD);
    filter:  progid:DXImageTransform.M icrosoft.gradient(startColorstr='#F5F5F5', endColorstr='#DDDDDD');

    width: auto;
    min-width: 100px;
    _margin-top: 4px;
}

.action input[type="submit"] {
    border: 1px solid #999;
    padding: 2px 15px 3px;
    margin: 0;

    font-size: 1em;
    line-height: 1.3em;

    cursor: pointer;
    display: inline-block;

    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;

    color: #333;

    background-color: #F5F5F5;
    background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#DDDDDD));
    background: -moz-linear-gradient(top,  #F5F5F5,  #DDDDDD);
    filter:  progid:DXImageTransform.M icrosoft.gradient(startColorstr='#F5F5F5', endColorstr='#DDDDDD');

    width: auto;
    min-width: 100px;
    _margin-top: 4px;
}

.zform .action *:first-child {
    margin-left: 160px;
}

.fieldset a:hover, .fieldset button:hover, .fieldset input[type=submit]:hover {
    border: 1px solid #333;
    background-color: #EEE;
}



.view .fieldset, .view .fieldset .legend  {
    background-color: white;
}

.view .group {

}

.view .input {
    margin: 0 auto;
    padding: 0px 10%;
}

.view .input span {
    width: 60%;
    border-left: 1px solid #CCC;
    padding: 4px 2px 2px;
    padding-left: 1em;
    display: inline-block;
}

.view .input label {
    display:inline-block;
    padding-right: 1em;
    text-align:right;
    width:20%;
    vertical-align: top;
    color: #666;
    padding-top: 4px;
    padding-bottom: 2px;
}


.view .fieldset.action {
    background-color: #F7F4E8;
}




















.zform .input {
	position: relative;
	z-index: 1;
}
div.box {
	margin-top: -20px;
}

div.box {
	float: left;
	width: 100%;
}

div.box > div {
	border: 1px solid #CCC;
	padding: 16px 8px 8px;
	margin: 2px 15px 0;
	-webkit-border-radius: 4px;
	-mox-border-radius: 4px;
	border-radius: 4px;
	font-size: 0.95em;
	background-color: #FFFFF5;
}



.fieldset {
    margin: 0 0 0.5em 0;
    border: 1px solid #DAD0C4;
    overflow: hidden;
}

.legend {
    padding: 0.5em 1em;
    margin: 0.5em 0 0;
    border: 1px solid #DAD0C4;
    background-color: #F7F4E8;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;

    font-size: 1.2em;

	padding: 4px 10px;
	color: black;
}

.fieldset .legend {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;

    border: 0px none;
	color: #990000;

    border-bottom: 1px solid #DDD;
    background-color: transparent;

	font-size: 16px;

	margin: 0 8px 0.5em;
    padding: 0 4px 4px;
}


.fieldset p {
    line-height: 1em;
    padding: 0 1px;
    margin: 0;
    color: #999;
}

.fieldset.top {
    margin-top: 0;
}

.sublegend {
    border-bottom: 1px solid #eee;
    padding: 3px 1em 3px 20%;
}

.fieldset.top h2{
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: bold;
    color: #666;
    padding: 0;

}

.fieldset.action {

}


.fieldset.first.action {
    padding-top: 2px;
}

.zform .fieldset.action .input input:hover {

}


.input.error {
    background-color: #FFCCCC;
}





.searchform {
    background-color: #E8F2FF;
    border-radius: 8px;
    padding: 8px 4px;
    border: 2px solid #C8D2EF;
    margin-bottom: 0.5em;
}


.searchform .fields {
	float: left;
}

.searchform div.input label {
    display:inline-block;
    text-align:right;
    vertical-align: top;
    color: #666;
}

.searchform div.input {
    float: left;
    width: 100px;
}

.searchform div.input.w150 {
    width: 150px;
}
.searchform div.input.w75 {
    width: 75px;
}
.searchform div.input.w25 {
    width: 50px;
}
.searchform div.input.w25 {
    width: 25px;
}

.searchform .input label {
	 float: left;
	 margin: 0;
	 padding: 0 0 0 5px;
	 width: auto;
}

.searchform .input .iw {
    border: 1px solid #6BF;
    clear: both;
    background-color: #F5F5F5;
    margin: 0 4px;
    overflow: visible;
    padding: 0 8px 0 0;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}


.searchform .input input, .searchform .input textarea, .searchform .input select {
	border: 0 none;
    margin: 0;
    padding: 3px 4px;
    width: 100%;

	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /*
    height: 22px;
    *height: 21px;
    _height: 22px;
    */
}

.searchform .input .iw.select {
	padding-right: 0;
}
.searchform .input select {
    padding: 2px 2px;
    *padding: 0;
}

.searchform .input select {
}

.searchform .input input:focus, .searchform .input textarea:focus, .searchform .input select:focus {
    background: white;
	box-shadow: 0 0 1px 1px #68C;
}

.searchform input.submit, .searchform a, .searchform button  {
}

.searchform input.submit  {
    padding:  0;
    margin: 0 3px;
    border: 0 none;
    cursor: pointer;
    background: #39F url('../images/search.png') no-repeat center center;
    width: 50px;
    height: 45px;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

    text-indent: -200px;
    border: 1px solid #9CF;
}

.searchform input.submit:hover, .searchform input.submit:focus {
    background-color: #36C;
    text-indent: -200px;
}




@media screen and (-webkit-min-device-pixel-ratio:0) {
    div.box {
        margin-top: 2px;
    }

    .h2 textarea {
    	height: 46px;
    }

    .zform .input label {
    	padding-top: 2px;
    }

    .zform .input .iw.ta {
    	padding-right: 14px;
    }
}


.zform.twoline {

}


.zform .index .input {
    padding: 0;
}

.zform .index .input .iw {
    margin: 0px;
}
